
/* body {
    background-color: #FFFFFF;
} */

.button {
    color: black
}

/* Link{
    color: red;
}
h3{
    color: red;

    background-color: beige;
    border-radius: 5px; 
} */
.update{
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
    
}


.delete {
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
}

.view {
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
    
}

button :hover {
    color: #FFFF00;
}

button {

margin: 10px 0px;
width: 150px;
height: 50px;

}

.function-buttons {
    padding-left: 20%;
}



